opencv-python==4.3.0.36
stem==1.8.0
selenium==3.141.0
pymongo==3.11.2
numpy==1.19.1
nltk==3.6.5
wordcloud==1.8.1
pandas==1.2.5
lxml==4.6.5
requests==2.24.0
anytree==2.8.0
google==3.0.0
fake-useragent==0.1.11
Django==4.0.2
django-crispy-forms==1.9.2
beautifulsoup4==4.9.3
scikit-learn==0.24.2
