body {
    background: #121212;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6, .links{
    color: #dedede;
}

ul {
    margin: 0;
}

.error-img{
    position: fixed;
    top: 25%;
    right:10%;
    width: 40%;
}

.bg-steel {
    background-color: #3700b3;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #121212;
    width: 50%;
    margin: 20px auto;
}

.seed-url-options {
    word-wrap: break-word;
}

.start{
    color: #dedede;
    cursor: pointer;
    border-color: #dedede;
    background-image: linear-gradient(to right, #030107 , #3700b3);
}

.form-legend{
    font: 150%;
    text-align: center;
    color: #0000ff;
}

#loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    visibility: hidden;
}

#topFiveWords{
    position: fixed;
    top: 23%;
    right:2%;
    border: solid #ff0000;
    background-color: #000000;
    font-size:80%;
    text-align: center;
    padding: 1%;   
    padding-top: 0.5%;
}

.iterative_word:hover {
    text-decoration: underline;
}

.time {
    position: fixed;
    bottom: 2%;
    right:2%;
    border: solid #ff0000;
    background-color: #000000;
    font-size:80%;
    text-align: center;
    padding: 0 1%;
    animation: anim 3s;    
    padding-top: 0.5%;
}

@keyframes anim {
    0%{opacity: 0;}
    100%{opacity: 1}
}