{% extends "crawler/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <details class= "start border rounded ">
        <summary class="h4 pl-2"> Welcome to the deep web ! Click to know more !</summary>
        <p>
            The Surface Web is the content provided on the world wide web and it is 
            what you access regularly. Our Crawler here provides you various links related to your search! 
            To begin your search just type in the seed url. And if you are confused where to start just refer
            the few links provided by us!
        </p>
    </details><br>

    <div class="content-section">
        <h2 class="text-center">Click mode of crawling</h2><br>
        <div class="btn-group btn-group-toggle w-100 text-center" data-toggle="buttons">
            <label class="btn btn-outline-primary" onclick="radio(0)">
            <input type="radio" name="options" id="option1" autocomplete="off"> Search by URL
            </label>
            <label class="btn btn-outline-primary" onclick="radio(1)">
            <input type="radio" name="options" id="option2" autocomplete="off"> Search by Keyword
            </label>
        </div>
    </div>

    <div class="w-100 mt-3">

        <!--form1-->
        <div id="url" style="display: none;">
            <form method="POST">
                <details class="start float-right w-25 mt-5 ml-5 mr-5 border rounded">
                    <summary class="h5 pl-2">Click here for seed urls!</summary>
                    <p class="links pl-3">
                        <a onclick="enterInUrlForm(this)">https://www.youtube.com/</a>
                        <a onclick="enterInUrlForm(this)">https://www.facebook.com/</a>
                        <a onclick="enterInUrlForm(this)">https://www.google.co.in/</a>
                        <a onclick="enterInUrlForm(this)">https://timesofindia.indiatimes.com/</a>
                        <a onclick="enterInUrlForm(this)">https://in.yahoo.com/</a>
                        <a onclick="enterInUrlForm(this)">https://www.amazon.in/</a>
                        <a onclick="enterInUrlForm(this)">https://www.flipkart.com/</a>
                    </p>
                </details>
                {% csrf_token %}
                <fieldset class="form-group text-primary w-50 ml-5">
                    <legend class="border-bottom border-primary pb-2 mb-3 form-legend">Enter your URL</legend>
                    {{ form1|crispy }}
                </fieldset>
                <div class="form-group ml-5">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </div>
            </form>
        </div>

        <!--form2-->
        <div id="keyword" class="w-50 pl-5 pr-5 m-auto" style="display: none;">
            <form method="POST">         
                {% csrf_token %}
                <fieldset class="form-group text-primary">
                    <legend class="border-bottom border-primary pb-2 mb-3 form-legend">Enter your Keyword</legend>
                    {{ form2|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
        
    </div>
{% endblock content %}