{% extends "users/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block dashboard %} 
    
    {% if links_matrix %}

        <h2>Link Similarity</h2><br>

        <h6>Total links obtained: {{ total_links }}</h6>
        <br><br>

        <div class="table table-responsive">
            <table class="table table-bordered">
                <tr class="text-primary">
                    <th>Link</th>
                    {% for collection, no_of_links in collections %}
                        <th>{{ collection }} ({{ no_of_links }})</th>
                    {% endfor %}
                    <th>All ({{all_count }})</th>
                    <th>Percentage</th>
                </tr>
                {% for link, matrix, percentage  in links_matrix %}
                    <tr>
                        <td>{{ link }}</td>
                        {% for col in matrix %}
                            {% if col %}
                                <td class="c-align">&#10004;</td>
                            {% else %}
                                <td class="c-align">&#10060;</td>
                            {% endif %}
                        {% endfor %}
                        <td class="c-align">{{ percentage }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% else %}

    <br>
        {% if select_platform_dropdown %}
            <div id="keyword" class="w-auto pl-5 pr-5 m-auto">
                <form method="POST">         
                    {% csrf_token %}
                    <fieldset class="form-group text-primary">
                        <legend class="border-bottom border-primary pb-2 mb-3 form-legend">Select Platform</legend>
                        {{ select_platform_dropdown|crispy }}
                    </fieldset>
                </form>
            </div>
        {% endif %}

        {% if select_keyword_dropdown %}
            <div id="keyword" class="w-auto pl-5 pr-5 m-auto">
                <form method="POST" id = "custom_similarity_keyword">         
                    {% csrf_token %}
                    <fieldset class="form-group text-light">
                        <legend class="border-bottom border-primary pb-2 mb-3 form-legend text-primary">Select Keywords/Seed URLs</legend>
                        {{ select_keyword_dropdown|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit" onclick="document.forms['custom_similarity_keyword'].submit();">Get link similarity</button>
                    </div>
                </form>
            </div>
            
        {% endif %}
        
    {% endif %}

    <br><br>
    
{% endblock dashboard %}