{% extends "crawler/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br><br>
    <h2 class="text-center">Want to know what are the types of web?</h2><br>
    <div class="text-center w-50 m-auto embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="784" height="441" src="https://www.youtube.com/embed/x2lAqiLxj98?end=70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock content %}