
:root {
	--page-header-bgColor: #242e42;
	--page-header-bgColor-hover: #1d2636;
	--page-header-txtColor: #dde9f8;
	--page-header-width: 220px;
	--page-content-bgColor: #121212;
	--blue: #00b9eb;
	--border-radius: 4px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a, button {
	color: inherit;
}

a {
	text-decoration: none;
}

button {
	background: none;
	cursor: pointer;
}

button {
	border: none;
}

svg {
	display: block;
}

/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#dp {
    width: 60px;
    margin: auto;
    margin-top: 10%;
}

.page-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	padding-top: 20px;
	width: var(--page-header-width);
	color: var(--page-header-txtColor);
	background: var(--page-header-bgColor);
}

.page-header nav {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.page-header .logo {
	display: block;
	max-width: 120px;
	margin: 0 15px;
}

.page-header .admin-menu {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-top: 35px;
}

.page-header .admin-menu li:nth-last-child(2) {
	margin-bottom: 35px;
}

.page-header .admin-menu li:last-child {
	margin-top: auto;
	margin-bottom: 50px;
}

.page-header .admin-menu li > * {
	width: 100%;
	padding: 12px 15px;
}

.page-header .admin-menu svg {
	width: 20px;
	height: 20px;
	fill: var(--page-header-txtColor);
	margin-right: 10px;
	transition: fill 0.2s;
}

.page-header .admin-menu a,
.page-header .admin-menu button {
	display: flex;
	align-items: center;
	font-size: 0.9rem;
	transition: background 0.2s, color 0.2s;
}

.page-header .admin-menu a:hover,
.page-header .admin-menu a:focus,
.page-header .admin-menu button:hover,
.page-header .admin-menu button:focus {
	background: var(--page-header-bgColor-hover);
	color: var(--blue);
	outline: none;
}

.page-header .admin-menu a:hover svg,
.page-header .admin-menu a:focus svg,
.page-header .admin-menu button:hover svg,
.page-header .admin-menu button:focus svg {
	fill: var(--blue);
}


/* PAGE CONTENT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-content {
	margin-left: var(--page-header-width);
	width: calc(100% - var(--page-header-width));
	padding: 20px;
	color: var(--page-content-txtColor);
	background: var(--page-content-bgColor);
}


/* MQ RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 767px) {
    .page-header,
    .page-content {
        position: static;
        width: 100%;
    }
    
    .page-header {
        padding: 10px;
    }

    .page-header nav {
        flex-direction: row;
    }

    .page-header .logo {
        margin: 0;
        height: 35px;
    }

    .page-header .admin-menu {
        position: absolute;
        left: 98px;
        top: 57px;
        margin-top: 0;
        z-index: 2;
        border-radius: var(--border-radius);
        background: var(--page-header-bgColor);
        visibility: hidden;
        opacity: 0;
        transform: scale(0.95);
        transition: all 0.2s;
    }

    .page-header .admin-menu li:nth-last-child(2) {
        margin-bottom: 12px;
    }
    
    .page-header .admin-menu li:last-child {
        display: none;
    }
    
    .page-content {
        min-height: 0;
        padding: 10px;
    }
}

/* ON COLLAPSE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 768px) {
    .collapsed .page-header {
		width: 40px;
    }
  
    .collapsed .page-header .admin-menu li > * {
		padding: 10px;
    }
  
    .collapsed .page-header .logo,
    .collapsed .page-header .admin-menu span,
    .collapsed .page-header .admin-menu .menu-heading {
		display: none;
    }
  
    .collapsed .page-header .admin-menu svg {
		margin-right: 0;
    }
  
    .collapsed .page-header .collapse-btn svg {
		transform: rotate(180deg);
    }
  
    .collapsed .page-content {
		left: 40px;
		width: calc(100% - 40px);
    }
}

text{
	display: none;
}

circle:hover + text{
	fill: #dedede;
	display: block;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #dedede;
	stroke: steelblue;
	stroke-width: 3px;
}

.node text {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

#textMssg{
	position: fixed;
	margin: auto;
	bottom: 5px;
	right: 5px;
	padding: 10px;
	color: #121212;
	background: #e2d86f;
	border: solid #9b870c 4px;
	border-radius: 15px;
}

th {
	text-align: center;
	font-size: large;
}

.c-align {
	text-align: center;
}

tr {
	color:#dedede;
}


tr:hover {
	background-color: #301934;
}

td {
	min-width: 110px;
	max-width: 700px;
	word-wrap: break-word;
}



